/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
.row{
	clear: both;
}

article{
	float: left; 
	width: 92%;
	margin-left: 4%;
}

.quarters{
	background-color: aqua;
}

.halves{
	background-color: palevioletred;
}

.left{
	background-color: palegreen;
}

.right{
	background-color: palegreen;
}

.whole{
	background-color: paleturquoise;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.quarters{
		width: 40%;
		margin-left: 4%;
		background-color: aqua;
	}

	.halves{
		width: 92%;
		margin-left: 4%;
		background-color: palevioletred;
	}

	.left{
		width: 92%;
		margin-left: 4%;
		background-color: palegreen;
	}

	.right{
		width: 92%;
		margin-left: 4%;
		background-color: palegreen;
	}

	.whole{
		width: 92%;
		margin-left: 4%;
		background-color: paleturquoise;
	}
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.quarters{
		width: 20%;
		margin-left: 4%;
		background-color: aqua;
	}

	.halves{
		width: 44%;
		margin-left: 4%;
		background-color: palevioletred;
	}

	.left{
		width: 22%;
		margin-left: 4%;
		background-color: palegreen;
	}

	.right{
		width: 66%;
		margin-left: 4%;
		background-color: palegreen;
	}

	.whole{
		width: 92%;
		margin-left: 4%;
		background-color: paleturquoise;
	}
}